/* *{
  margin: 0px;
  padding: 0px;
} */
body {
  font-family: Arial, sans-serif;
}
/* Ensure Tailwind CSS directives are correctly placed */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles below */
